<style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

    .row.content {
        height: calc(100vh);
    }

    /* Set gray background color and 100% height */

    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */

    @media screen and (max-width: 767px) {
        .row.content {
            height: auto;
        }
    }
</style>
<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a>Application</a>
                </li>
                <li>
                    <a>Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-1 sidenav hidden-xs">
            <br>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#section1">Application</a>
                </li>
                <li>
                    <a href="#section2">Users</a>
                </li>
            </ul>
            <br>
        </div>
        <br>

        <div class="col-sm-11">
            <div ui-view></div>
        </div>
    </div>
</div>