<style>
    .grid-stack-item-content {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }

    #gridstack {
        background-color: #2c3e50;
        border-radius: 5px;
        border: 1px hidden;
    }
</style>
<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a>Add Widget</a>
                </li>
                <li>
                    <a>Save Dashboard</a>
                </li>
                <li>
                    <a>Load Dashboard</a>
                </li>
                <li>
                    <a>Delete Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav hidden-xs">
            <h2>Logo</h2>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a>Add Widget</a>
                </li>
                <li>
                    <a>Save Dashboard</a>
                </li>
                <li>
                    <a>Load Dashboard</a>
                </li>
                <li>
                    <a>Delete Dashboard</a>
                </li>
            </ul>
            <br>
        </div>
        <br>
        <div class="col-sm-10">
            <div id="gridstack" class="grid-stack grid-stack-12">
                <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="4">
                    <div class="grid-stack-item-content">
                        <div class="panel panel-default">
                              <div class="panel-heading">
                                    <h3 class="panel-title">Panel title</h3>
                              </div>
                        </div>
                        asdsa
                    </div>
                </div>
                <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="4">
                    <div class="grid-stack-item-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.grid-stack').gridstack({
            width: 12,
            float: true,
            resizable: {
                handles: 'e, se, s, sw, w'
            }
        });
    });
</script>